@{
  Layout = "_Layout";
}

<br/>
<br/>
<div class="links__home">
  <p class="btn btn-dark">@Html.ActionLink("See all Songs", "Index", "Songs")</p>

  <p class="btn btn-dark">@Html.ActionLink("See all Albums", "Index", "Albums")</p>
</div>
