@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

body {
  background-color: rgb(69, 140, 247);
  text-align: center;
	font-family: 'Fugaz One', cursive;
}

hr {
	position: relative;
	top: 20px;
	border: none;
	height: 12px;
	background: #333;
	color: #333;
	margin-bottom: 50px;
}

.links__home p {
	font-size: 70px;
	margin: 25px;
}

.links__home {
	display: flex;
	justify-content: center;
}

.header h1 {
	font-size: 50px;
	font-family: 'Fugaz One', cursive;
	color: #333;
}

.title {
	font-size: 60px;
	color: #333;
}

.list__link {
	background-color: rgba(251, 249, 249, 0.776);
	font-style: italic underline;
	font-weight: 600;
}

