@{
  Layout = "_Layout";
}
@using RecordStore.Models;

@model List<RecordStore.Models.Album>;

<h1>Albums</h1>

<ul>
  @foreach(Album album in Model)
  {
    <li>@Html.ActionLink($"{album.Name}", "Details", new { id = album.AlbumId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new album", "Create")</p>



<p>@Html.ActionLink("Home", "Index", "Home")</p>