@* @{
  Layout = "_Layout";
}
@using RecordStore.Models;

@model List<RecordStore.Models.Album>;

<h1 class="title">Albums</h1>

  @foreach(Album album in Model)
  {
    <p class="list__link btn btn-outline-dark btn-block">@Html.ActionLink($"{album.Name}", "Details", new { id = album.AlbumId })</p>
  }

<p class="btn btn-dark btn-block">@Html.ActionLink("Add new album", "Create")</p> *@



