@{
  Layout = "_Layout";
}
    <h1>Add a new song to @Model.Name</h1>

    <form action="/albums/@Model.Id/songs" method="post">
      <input id="albumId" name="albumId" type="hidden" value="@Model.Id">
      <label for="songTitle">Song Title</label>
      <input id="songTitle" name="songTitle" type="text">
      <button type='submit'>Add Song</button>
    </form>